<%- include("../partials/adminheader") %>
    <main class="col-md-9 col-lg-10" style="height: 100vh">
        <div class="row justify-content-center" style="margin-top: 100px;">
            <div class="col-6 text-center" >
                <form action="/admin/add-movie" method="POST">
                    <h1 class="h3 mb-3 fw-normal">Add Movie</h1>
                    
                    <div class="form-floating">
                        <label for="floatingInput">ID</label>
                        <input type="text" class="form-control" id="floatingInput" name="id" placeholder="ID">
                    </div>
                    <div class="form-floating">
                        <label for="floatingPassword">Price</label>
                        <input type="number" class="form-control" id="floatingPassword" name="price" placeholder="$$">
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" style="margin-top: 10px;" type="submit">Add</button>
                    <div class="a" style="margin-top: 20px;">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include("../partials/adminfooter") %>